src/main/resources/wsdl/izinonay.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://VDCIZN/WSizinOnay.tws" xmlns:impl="http://VDCIZN/WSizinOnay.tws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:intf="http://VDCIZN/WSizinOnay.tws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://VDCIZN/WSizinOnay.tws" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="izinOnay">
    <complexType>
      <sequence>
        <element name="instanceId" type="xsd:string"/>
        <element name="onaylandi" type="xsd:boolean"/>
      </sequence>
    </complexType>
  </element>
  <element name="izinOnayResponse">
    <complexType>
      <sequence>
        <element name="onaylandi" type="xsd:boolean"/>
      </sequence>
    </complexType>
  </element>
</schema>
  </wsdl:types>
  <wsdl:message name="izinOnayResponse">
    <wsdl:part name="parameters" element="impl:izinOnayResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="izinOnayRequest">
    <wsdl:part name="parameters" element="impl:izinOnay">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSizinOnayPortType">
    <wsdl:operation name="izinOnay">
      <wsdl:input name="izinOnayRequest" message="impl:izinOnayRequest">
    </wsdl:input>
      <wsdl:output name="izinOnayResponse" message="impl:izinOnayResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSizinOnaySoapSoapBinding" type="impl:WSizinOnayPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="izinOnay">
      <wsdlsoap:operation soapAction="http://VDCIZN/WSizinOnay.tws/izinOnay"/>
      <wsdl:input name="izinOnayRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="izinOnayResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSizinOnay">
    <wsdl:port name="WSizinOnaySoap" binding="impl:WSizinOnaySoapSoapBinding">
      <wsdlsoap:address location="http://BPMProcessServer-1:9081/teamworks/webservices/PNDKIK/WSizinOnay.tws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>